<div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c405034528cf04acab707e51be371d3c&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');">
  <div class="banner-title">
    <h1>Awesome cocktails</h1>
  </div>
</div>

<div class="container">
  <div class="row pad-10">
    <div class="cards">
      <% @cocktails.each do |c| %>
        <div class="col-md-3 col-xs-12 col-sm-4 col-lg-2 cocktail-card">
          <h2><%= c.name %></h2>
          <%= link_to '', c %>
        </div>
      <% end %>
    </div>
  </div>
</div>
